@import url('https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif
}

main
{
    position: relative;
    width: 100%;
    min-height: 120vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: rgba(255, 255, 255, 0.829);
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    max-width: 80px;
}

header ul
{
    position: relative;
    display: flex;
}

header ul li
{
    list-style: none;
}

header ul li a
{
    display: inline-block;
    color: #fff;
    font-weight:400;
    margin-left: 40px;
    text-decoration: none;
}
.TABS::after
{
	content: '';
	display:  block;
	width: 0;
	height: 2px;
	background: #fff;
	transition: width .3s
}
.TABS:hover::after
{
	width: 100%;
	transition: width .3s;
}

.custom-shape-divider-top-1651038526 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1651038526 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 260px;
}

.custom-shape-divider-top-1651038526 .shape-fill {
    fill:   #004283 ;
}

.content .imgBox
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
	
}

.content .imgBox img
{
    max-width: 400px;
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox
{
    position: relative;
    max-width: 500px;
}

.content .textBox h2
{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 600;
}

.content .textBox p
{
    color: #333;
}

.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background:   #004283;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.quote
{
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    display: flex;
}

.quote li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
	transition: transform .2s;
}

hr
{
    background:   #004283;
    width: 4%;
    border: 10px solid  #004283;
}

.content1 .imgBox1
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
	
}

.content1 .imgBox1 img
{
    max-width: 600px;
}
.content1
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content1 .textBox1
{
    position: relative;
    max-width: 500px;
}

.content1 .textBox1 h2
{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 600;
}

.content1 .textBox1 p
{
    color: #333;
}

.main
{
    position: relative;
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: #659bd3;
}

.main2
{
    position: relative;
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: #659ad397;
}

.content2 .imgBox2
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
	
}

.content2 .imgBox2 img
{
    max-width: 600px;
}
.content2
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content2 .textBox2
{
    position: relative;
    max-width: 500px;
}

.content2 .textBox2 h2
{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 600;
}

.content2 .textBox2 p
{
    color: #333;
}